

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    width: 80vw;
  
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.button {
    width: 200px;
    height: 30px;
}

.angular-table{
    margin-top: 2rem;
    width: 75dvw;
    box-shadow: none;
}

th,
td {
  width: 16%;
  text-align: center;
  font-family: "Mulish", sans-serif;

}

.addItem{
    width: 30px;
    height: 30px;
    
}

mat-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }