.stats {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.25rem;
    justify-content:space-between;
    width: 100%;
}

.appointments {
    background: white;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
}

.appointments
.title {
    text-align: center;
    font-weight: 500;
}

.chart {
    background: white;
    padding: 2.5rem;
    flex: 1;
}

.split {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.quick-notes {
    padding: 1.5rem;
    background-color: #f9fb95;
    width: 30%;
}

.quick-notes
.divToText {
    max-height: 265px;
    overflow-y: auto;
}

.quick-notes
.divToText:focus {
    outline: none;;
}

@media only screen and (max-width: 900px) {
    .stats {
        flex-direction: column;
    }

    .split {
        flex-direction: column;
    }

    .quick-notes {
        width: 100%;
        min-height: 100%;
    }
}
