.container{
    display: flex;
    flex-direction: column;
   
  }
  
  .search-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .top-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .table-appointment{
      background-color: #FFFFFF;
      width: 75dvw;
      height: 10dvh;
      margin-left: 2.5rem;
      border-radius: 4px;
      box-shadow: none;
  }
  
  th, td{
      width: 16%;
      text-align: center;
      font-family: "Mulish", sans-serif;
  }
  
  th{
      font-weight: bold;  
  }
  
  .history-icon{
    cursor: pointer;
  }
  
  .history-icon:hover{
    color: #85ff8d;
  }
  
    .title{
      font-size: 30px;
    }
  
    .angular-table{
      height: 10dvh;
    }
  
    mat-paginator{
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
    }
    
    @media (max-width: 600px) {
      .mat-column-name, .mat-column-history {
        display: none;
      }
    }
  
    