

  <div class="container">
    <div class="top-buttons">
      <mat-form-field appearance="outline" class="search-input-container">
        <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Busca un servicio..."
          class="search-input">
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="openModal(modalContent)">Agregar un
        servicio</button>

    </div>
    <div class="table-appointment">
      <!-- <div class="spinner-container">
        <mat-spinner class="spinner"></mat-spinner>
      </div> -->
      <div style="overflow-x: auto;" >
        <app-base-grid-component [getData]="serviceRoute" [columnDefinitions]="columnDefs"></app-base-grid-component>
      </div>
    </div>
  </div>


<ng-template #modalContent>
  <form [formGroup]="serviceForm" (ngSubmit)="submitForm()" class="form">
    <div class="mat-dialog-container">

      <div class="modal-top">
        <mat-icon class="close-icon" (click)="closeModal()">close</mat-icon>
      </div>
      <div class="content-modal">
        <mat-form-field class="example-form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Costo</mat-label>
          <input matInput formControlName="cost" type="number">
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Cantidad de cuotas</mat-label>
          <input matInput formControlName="duesQuantity" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill" class="services-select">
          <mat-label>Selecciona materiales</mat-label>
          <mat-select formControlName="productIds" multiple>
            <mat-option *ngFor="let instrument of instrumentList" [value]="instrument.id.toString()">
              {{ instrument.name }}
            </mat-option>
          </mat-select>
          
          
          
          
        </mat-form-field>
        

        <div class="create">
          <button mat-raised-button color="primary" class="create-button" type="submit">Registrar</button>
        </div>

      </div>
    </div>
  </form>
</ng-template>