.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.78rem;
    margin-top: 1.78rem;

}

.header-title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-wrap: nowrap;
}

.info {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

}

.visits {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 2px solid red;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
    width: 50%;
}

.visits:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);

}

.history {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 2px solid rgb(255, 255, 0);
    transition: box-shadow 0.5s ease;
    cursor: pointer
}

.history:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.plan {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-bottom: 2px solid rgb(0, 255, 94);
    transition: box-shadow 0.5s ease;
    cursor: pointer;
    width: 50%;
}

.plan:hover {
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.header div {
    width: 17dvw;
    height: 15dvh;
}


.main-appointment {
    display: flex;
    flex-direction: row;
    width: 20%;
}

.appointments-container {
    display: flex;
    flex-direction: column;
}

div .info {
    width: 21dvw;
}

.appointments {
    width: 21dvw;
    height: 60dvh;
    margin-top: 1.78rem;
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow-y: scroll;
}

.dental-history {
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 1.78rem;
    margin-left: 1rem;
    width: 53dvw;
    height: 73dvh;
}

.dientes {
    width: 200px;
    height: 100px;
    visibility: visible;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: #FFFFFF;
    margin-top: 1.1rem;
    width: 21dvw;
    padding: 1rem;
    border-radius: 4px;
}

mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.icon {
    font-size: 44px;
    height: 44px;
}

.mat-icon:hover {
    transform: scale(1.1);

}

.modal-appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.angular-table {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

}

th,
td {
    width: 9%;
    text-align: center;
    font-family: "Mulish", sans-serif;
}

th {
    font-weight: bold;
}

.teeth {
    display: flex;
    flex-direction: row;
    width: 53dvw;
}



.element-image {
    cursor: pointer;
}

path[id^="tooth-"]:hover {
    fill: red; 
  }