/* Contenedor Principal */
.appointments-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
  }
  
  /* Filtros y Botones */
  .filters-container {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
  }
  
  .filters {
    display: flex;
    flex-direction: row; /* Los elementos se colocan en fila */
    align-items: center; /* Alinea verticalmente todos los elementos */
    gap: 1rem; /* Espacio entre el select y los botones */
  }
  
  
  .action-button {
    padding: 0.5rem 1.5rem; /* Aumenta el tamaño del botón */
    font-size: 14px; /* Ajusta el tamaño del texto */
    height: 40px; /* Uniformiza la altura con el filtro */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    gap: 0.5rem; /* Espacio entre el texto y el ícono */
  }
  
  .action-button mat-icon {
    font-size: 18px; /* Tamaño uniforme del ícono */
  }
  
  
  /* Tabla y Odontograma */
  .main-content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  
  /* Tabla de Citas */
  .appointments-table {
    flex: 2;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Tabla Angular */
  .angular-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
  }
  
  th,
  td {
    text-align: center;
    padding: 0.5rem;
    font-size: 14px;
  }
  
  th {
    background-color: #f3f4f6; /* Fondo gris claro */
    border-bottom: 2px solid #e5e7eb; /* Borde inferior */
    color: #374151; /* Texto más oscuro */
    padding: 1rem;
  }
  
  
  .fila-cita {
    background-color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  .fila-cita:hover {
    background-color: #f0f2f5;
  }
  
  /* Paginador */
  .mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  /* Odontograma */
  .odontograma-container {
    background-color: #ffffff; /* Blanco puro para contraste */
    border-radius: 16px; /* Bordes más suaves */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08); /* Sombra más suave */
    padding: 2rem; /* Aumenta el padding para mayor espacio interior */
  }

  .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; /* Espacio entre el texto y el icono */
    padding: 0.75rem 1.5rem; /* Tamaño del botón */
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    font-size: 14px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Botón Primario (Buscar) */
  .action-button.primary {
    background-color: #2563eb; /* Azul */
    color: #ffffff;
  }
  
  .action-button.primary:hover {
    background-color: #1e40af; /* Azul más oscuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Efecto al pasar el mouse */
    transform: translateY(-2px); /* Efecto sutil */
  }
  
  /* Botón Secundario (Limpiar) */
  .action-button.secondary {
    background-color: #f87171; /* Rojo */
    color: #ffffff;
  }
  
  .action-button.secondary:hover {
    background-color: #b91c1c; /* Rojo más oscuro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  
  /* Icono dentro de los botones */
  .button-icon {
    font-size: 18px; /* Tamaño del icono */
  }

  /* Contenedor del Select */
.custom-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacio entre el label y el select */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    font-family: 'Mulish', sans-serif;
  }
  
  /* Label Estilizado */
  .custom-label {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a; /* Gris oscuro */
  }
  
  /* Select Estilizado */
  .custom-select {
    width: 100%;
    padding: 0.75rem 1rem; /* Espaciado interno */
    border: 1px solid #d1d5db; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 14px;
    color: #374151; /* Texto gris oscuro */
    background-color: #f9fafb; /* Fondo claro */
    transition: all 0.3s ease; /* Suaviza los cambios visuales */
    appearance: none; /* Oculta la flecha predeterminada del navegador */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='gray'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
  }
  
  /* Interacción al Foco */
  .custom-select:focus {
    border-color: #2563eb; /* Azul al tener foco */
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3); /* Resaltado suave */
    outline: none; /* Elimina el borde por defecto */
  }
  
  /* Placeholder (Primera Opción) */
  .custom-select option[value=""] {
    color: #9ca3af; /* Texto gris claro */
  }

  .breadcrumb-container {
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-family: "Mulish", sans-serif;
    width: 100%;
  }
  
  .breadcrumb {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .breadcrumb-item {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: 500;
  }
  
  .breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .breadcrumb-item a:hover {
    color: #0056b3;
  }
  
  .breadcrumb-item.active {
    color: #4a4a4a;
    font-weight: bold;
  }
  
  .status-select select {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem; /* Aumentamos el padding a la derecha */
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    color: #374151;
    background-color: #f9fafb;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='gray'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
  }
  
  .status-select select:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
    outline: none;
  }
  

  
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column; /* Apila los elementos */
      gap: 1.5rem; /* Reduce el espacio entre elementos */
    }
  
    .appointments-table, .odontograma-container {
      width: 100%; /* Ocupa todo el ancho disponible */
    }
  }
  