<div class="main-container">
    <div class="header">
        <div *ngIf="patient" class="info header-title">
          <p>{{ patient.name }}</p>
        </div>
      
        <div *ngFor="let item of headerItems" (click)="openModal(item.modalContent)" class="header-title">
            <span>{{ item.title }}</span>
            <span>{{ item.subTitle }}</span>
        </div>
      </div>
      
    <div class="main-appointment">
        <div class="appointments-container">
            <div class="appointments">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 angular-table">

                    <ng-container matColumnDef="hour">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element"> {{formatDate(element.appointmentDate)}} </td>
                    </ng-container>


                    <ng-container matColumnDef="procedure">
                        <th mat-header-cell *matHeaderCellDef>Procedimientos</th>
                        <td mat-cell *matCellDef="let element"> {{element.servicesName.join(', ')}} </td>
                    </ng-container>


                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef>Monto total</th>
                        <td mat-cell *matCellDef="let element"> {{element.totalCost}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="icons">
                <mat-icon matTooltip="Agenda una cita">calendar_today</mat-icon>
                <mat-icon matTooltip="Detalles de pago" class="icon">payment</mat-icon>
                <mat-icon matTooltip="Recetas dentales">receipt_long</mat-icon>
            </div>
        </div>
        
        <div class="dental-history">
            <div class="table-teeth">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 angular-table">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Diente</th>
                        <td mat-cell *matCellDef="let element">  </td>
                    </ng-container>


                    <ng-container matColumnDef="procedure">
                        <th mat-header-cell *matHeaderCellDef>Procedimientos</th>
                        <td mat-cell *matCellDef="let element">  </td>
                    </ng-container>


                    <ng-container matColumnDef="pendingProcedure">
                        <th mat-header-cell *matHeaderCellDef>Procedimientos Pendientes</th>
                        <td mat-cell *matCellDef="let element">  </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="teethColums"></tr>
                    <tr mat-row *matRowDef="let row; columns: teethColums;"></tr>
                </table>
            </div>
        </div>

        <div class="odont">
            <app-tooth-svg [patient]="patientId"/>
        </div>
          

    </div>


</div>

<ng-template #modalContent1>
    <div>
        <h2></h2>
        <div class="modal-appointment">
            <table mat-table [dataSource]="dataSourceHistoric" class="mat-elevation-z8">

                <ng-container matColumnDef="hour">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let appointment"> {{formatDate(appointment.appointmentDate)}}
                    </td>
                </ng-container>


                <ng-container matColumnDef="procedure">
                    <th mat-header-cell *matHeaderCellDef>Procedimientos</th>
                    <td mat-cell *matCellDef="let appointment"> {{appointment.servicesName.join(', ')}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Monto total</th>
                    <td mat-cell *matCellDef="let appointment"> {{appointment.totalCost}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedHistoricColums"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedHistoricColums;"></tr>
            </table>
        </div>
        <!-- <button mat-button (click)="closeModal()">Cerrar</button> -->
    </div>
</ng-template>

<ng-template #modalContent2>
    <div>
        <h2>Título del Modal</h2>
        <p>Este es el contenido del modal.</p>
        <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
</ng-template>

<ng-template #modalContent3>
    <div>
        <h2>Título del Modal</h2>
        <p>Este es el contenido del modal.</p>
        <button mat-button (click)="closeModal()">Cerrar</button>
    </div>
</ng-template>