.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.78rem;

}

.teeth-component{
    display: flex;
    flex-direction: row;
}

.header-title {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    max-width: 268px;
    flex: 1 1 auto;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1rem;
    flex-wrap: nowrap;
}

.info {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

}

.header div {
    width: 17dvw;
    height: 15dvh;
}


.main-appointment {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appointments-container {
    display: flex;
    flex-direction: column;
}

.appointments {
    width: 45dvw;
    height: 70dvh;
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow-y: scroll;
}

.dental-history {
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: 1.78rem;
    margin-left: 1rem;
    width: 20dvw;
    height: 73dvh;
}

.odont{
    height: 83dvh;
    width: 60dvh;
    background-color: #FFFFFF;
    border-radius: 5px;

}

.dental-history .teeth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-teeth {
    position: relative;
    margin-right: 0rem;
    border: solid;
    border-radius: 5px;
    padding: 1rem;

}

.teeth-content p {
    font-size: 20px;
    font-weight: bold;
}



.dental-history h1 {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Mulish", sans-serif;
    align-items: center;
    font-weight: bold;

}

.dientes {
    width: 200px;
    height: 100px;
    visibility: visible;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: #FFFFFF;
    margin-top: 1.1rem;
    width: 44.4dvw;
    padding: 1rem;
    border-radius: 4px;
}

mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.icon {
    font-size: 44px;
    height: 44px;
}

.mat-icon:hover {
    transform: scale(1.1);

}

.modal-appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table-teeth{
    overflow-y: scroll;
}

.angular-table {
     table-layout: fixed;
    width: 100%;
    height: 85%;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

}

th,
td {
 
    width: 9%;
    text-align: center;
    font-family: "Mulish", sans-serif;
}

th {
    font-weight: bold;
}

mat-paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }

.teeth {
    display: flex;
    flex-direction: row;
    width: 53dvw;
}



.element-image {
    cursor: pointer;
}

path[id^="tooth-"]:hover {
    fill: red;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.img{
    min-width: 100dvw;
    height: auto;
  
  }

  .search-input-container{
    margin-top: 1.5rem;
    width: 20dvw;
  
  }
  
  .top-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }