.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input-container{
  margin-top: 2rem;
  width: 20dvw;

}

.top-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.table-appointment{
    background-color: #FFFFFF;
    width: 75dvw;
    margin-left: 2.5rem;
    height: 50dvh;
    box-shadow: none;
}

th, td{
    width: 16%;
    text-align: center;
    font-family: "Mulish", sans-serif;
}

.history-icon{
  cursor: pointer;
}

.history-icon:hover{
  color: #85ff8d;
}

  .title{
    font-size: 30px;
  }

  .angular-table{
    height: 50dvh;
  }

  .pending-eye{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
  }

  mat-paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
  }

  .mat-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px; 
    width: 100%;
    z-index: 1000 !important;
  
  }
  
  .modal-top{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  background-color:#ff9c9c;
  height: 5dvh;
  width: 100%;
  }
  
  .close-icon{
    margin-right: 1rem;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .content-modal{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-button{
    width: 15dvw;
  }
  
  
  @media (max-width: 600px) {
    .mat-column-name, .mat-column-history {
      display: none;
    }
  }

  