<div class="container">
  <div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/patients">Gestión de Pacientes</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">/ Pacientes</li>
      </ul>
    </nav>
  </div>
  <div class="top-buttons">
    <button mat-flat-button color="accent" (click)="openModal(modalContent)" class="register-button">Registrar
      paciente</button>
    <mat-form-field appearance="outline" class="search-input-container">
      <input type="text" (keyup)="applyFilter($event)" matInput placeholder="Busca un paciente..." class="search-input">
    </mat-form-field>
  </div>
  <div class="table-appointment">
    <app-base-grid-component [getData]="patientRoute" [columnDefinitions]="columnDefs"></app-base-grid-component>
  </div>
</div>


<ng-template #modalContent>
  <form [formGroup]="patientForm" (ngSubmit)="submitForm()" class="form">
    <div class="modal-container">
      <h3 class="form-title">Registrar Paciente</h3>
      
      <div class="form-row">
        <div class="custom-input">
          <label for="name">Nombre</label>
          <input id="name" type="text" formControlName="name" placeholder="Ingresa el nombre" />
        </div>
      </div>
      
      <div class="form-row">
        <div class="custom-input">
          <label for="age">Edad</label>
          <input id="age" type="number" formControlName="age" placeholder="Ingresa la edad" />
        </div>
      </div>
      
      <div class="form-row">
        <div class="custom-input">
          <label for="address">Dirección</label>
          <input id="address" type="text" formControlName="address" placeholder="Ingresa la dirección" />
        </div>
      </div>
      
      <div class="form-row">
        <div class="custom-input">
          <label for="tel">Teléfono</label>
          <input id="tel" type="text" formControlName="tel" placeholder="Ingresa el teléfono" />
        </div>
      </div>
      
      <div class="button-row">
        <button type="submit" class="action-button primary">Registrar paciente</button>
      </div>
    </div>
  </form>
</ng-template>
