<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 angular-table">
    <ng-container *ngFor="let column of columnDefinitions">
      <ng-container [matColumnDef]="column.key">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.label || (column.key | titlecase) }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container [ngSwitch]="true">
            <ng-container *ngSwitchCase="!!column.icon">
              <mat-icon (click)="getRouteToRedirect(column.icon ?? '', element.id)" class="icon">
                {{ column.icon }}
              </mat-icon>
            </ng-container>

            <ng-container *ngSwitchCase="!!column.function && editingRowId !== element.id">
              <span>
                {{ getFunction(column, element[column.key]) | async }}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="!!column.date && editingRowId !== element.id">
              <span>
                {{formatDate(element[column.key])}}
              </span>
            </ng-container>

            <ng-container *ngSwitchCase="!!column.enum && editingRowId !== element.id">
              <span>
                {{ getEnum(column.enum ?? '', element[column.key]) | async }}
              </span>
            </ng-container>

            <ng-container *ngSwitchDefault>

              <span *ngIf="editingRowId !== element.id || column.editable === false">
                {{ element[column.key] || 'N/A' }}
              </span>

              <ng-container *ngIf="editingRowId === element.id && column.editable !== false">
                <ng-container *ngIf="column.dataType === 'array'; else inputField">
                  <input matInput [(ngModel)]="element[column.key]"
                    placeholder="Editar {{ column.label || column.key }}"
                    (ngModelChange)="handleArrayInput(column, element)" style="resize: none; width: 100%;" />
                </ng-container>

                <ng-template #inputField>
                  <input
                    *ngIf="editingRowId === element.id && (column.editable === true || column.editable === undefined)"
                    matInput [type]="column.dataType === 'array' ? 'text' : getInputType(column)"
                    [(ngModel)]="element[column.key]" (ngModelChange)="handleArrayInput(column, element)"
                    placeholder="Editar {{ column.label || column.key }}" />

                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>

      </ng-container>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="editingRowId !== row.id" mat-icon-button class="icon" (click)="enableEdit(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="editingRowId === row.id" mat-icon-button color="primary" class="icon" (click)="saveRow(row)">
          <mat-icon>save</mat-icon>
        </button>
        <button *ngIf="editingRowId === row.id" mat-icon-button color="warn" class="icon" (click)="cancelEdit()">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button class="icon icon-delete" (click)="deleteRow(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsWithActions"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsWithActions;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>