.breadcrumb-container {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .breadcrumb-header {
    display: flex;
    align-items: center;
    font-size: 1.25rem; /* Tamaño del título */
    font-weight: 600; /* Peso del título */
    margin-bottom: 0.5rem;
    color: #333; /* Color oscuro para buena visibilidad */
  }
  
  .breadcrumb-header mat-icon {
    font-size: 1.75rem; /* Ajusta el tamaño del ícono para que se vea proporcionado con el título */
    margin-right: 0.5rem;
    color: #7d7d7d; /* Color gris para que sea menos dominante */
  }
  
  .breadcrumb-path {
    display: flex;
    align-items: center;
    font-size: 0.875rem; /* Tamaño más pequeño para la ruta */
    color: #7d7d7d; /* Gris claro para diferenciarlo del título */
  }
  
  .breadcrumb-path mat-icon {
    font-size: 1rem;
    margin-right: 0.25rem;
    color: #7d7d7d; /* Color gris para los íconos */
  }
  
  .breadcrumb-path a {
    color: #007bff; /* Azul claro para indicar que es un enlace */
    text-decoration: none;
    margin-right: 0.5rem;
  }
  
  .breadcrumb-path a:hover {
    text-decoration: underline; /* Subraya al hacer hover para mejorar la usabilidad */
  }
  
  .breadcrumb-path span {
    margin-right: 0.5rem;
  }
  