<div class="breadcrumb-container">
    <div class="breadcrumb-header">
      <mat-icon aria-hidden="false" aria-label="Dashboard icon">home</mat-icon>
      <span class="breadcrumb-title">{{ title }}</span>
    </div>
    <div class="breadcrumb-path">
      <mat-icon>home</mat-icon>
      <span *ngFor="let crumb of breadcrumbs; let last = last">
        <ng-container *ngIf="!last">
          <a [routerLink]="crumb.link">{{ crumb.label }}</a> /
        </ng-container>
        <ng-container *ngIf="last">
          <span>{{ crumb.label }}</span>
        </ng-container>
      </span>
    </div>
  </div>
  